.cover__subtitle {
    max-width: 275px;
    margin: 0 auto;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

@media (min-width: 550px) {
    .cover__subtitle {
        max-width: 375px;

        font-size: 18px;
        line-height: 22px;
    }
}