.place__link {
    width: calc(100% - 2 * 18px);
    margin: 0 0 0 18px;

    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    color: white;
}

@media (min-width: 768px) {
    .place__link {
        margin: 0;
    }
}