.place {
    width: 100%;
    margin: 0 auto 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 46px 320px auto;
    gap: 32px 40px;
}



@media (min-width: 768px) {
    .place {
        width: calc(100% - 2 * 24px);
        grid-template-columns: 49% 51%;
        grid-template-rows: 92px 441px;
    }
}

@media (min-width: 1024px) {
    .place {
        width: calc(100% - 2 * 48px);
        grid-template-rows: 152px 440px;
    }
}

@media (min-width: 1280px) {
    .place {
        max-width: 984px;
        grid-template-rows: 152px 460px;
        gap: 48px;
    }
}