.place__description {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    justify-content: flex-start;
}

@media (max-width: 768px) {
    .place__description {
        margin: 0 16px 0 16px;
    }
}

@media (max-width: 1024px) {
    .place__description {
        margin-right: 24px;
    }
}

/*@media (max-width: 1280px) {*/
/*    .place__description {*/
/*    }*/
/*}*/